{% extends "website/base.html" %}
{% load static %}
{% load humanize %}
{% load blog-tags %}
{% block content %}

<div class="main-wrapper ">
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">News details</span>
          <h1 class="text-capitalize mb-4 text-lg">Blog Single</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url "website:index" %}" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">News details</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section blog-wrap bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
	<div class="col-lg-12 mb-5">
		<div class="single-blog-item">
			<img src="{% static "images/blog/2.jpg" %}" alt="" class="img-fluid rounded">

			<div class="blog-item-content bg-white p-5">
				<div class="blog-item-meta bg-gray py-1 px-2">
					{% for cat in post.category.all %}
                                            <a href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }}</a> {% if not forloop.last %},{% endif %}
                    {% endfor %}<br>
					<span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>{{ comments|length }} Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i>{{ post.author }}</span>
					<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i>{{ post.published_date|date:"d M Y" }}</span>
					<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i>{{ post.counted_views }} views</span>
				</div> 

				<h2 class="mt-3 mb-4"><a href="blog-single.html">{{ post.title }}</a></h2>
				<p class="lead mb-4">
                                        {{ post.content|safe }}
                </p>



				<div class="tag-option mt-5 clearfix">
				    <ul class="float-left list-inline"> 
				    	<li>Tags:</li> 
				    	<li class="list-inline-item"><a href="#" rel="tag">Advancher</a></li>
				    	<li class="list-inline-item"><a href="#" rel="tag">Landscape</a></li>
				    	<li class="list-inline-item"><a href="#" rel="tag">Travel</a></li>
				   	</ul>        

				    <ul class="float-right list-inline">
				        <li class="list-inline-item"> Share: </li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
				    </ul>
			    </div>
			</div>
		</div>
	</div>


	<div class="col-lg-12 mb-5">
		<div class="row">
									<div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
										<div class="thumb">
                                            {% if previous_post %}
                                            <a href="{% url 'blog:single' previous_post.id %}"><img class="img-fluid" width="100px" height="100px" src="{{ previous_post.image.url }}" alt=""></a>
										    {% endif %}
                                        </div>
										<div class="arrow">
											<a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
										</div>
										<div class="detials">
											
											 {% if previous_post %}
                                                 <p>Prev Post</p>
                                                <a href="{% url 'blog:single' previous_post.id %}">{{ previous_post.title }}</a>
                                            {% endif %}
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
										<div class="detials">
											
											{% if next_post %}
                                                <p>Next Post</p>
                                                <a href="{% url 'blog:single' next_post.id %}">{{ next_post.title }}</a>
                                            {% endif %}
										</div>
										<div class="arrow">
											<a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
										</div>
										<div class="thumb">
                                            {% if next_post %}
											<a href="{% url 'blog:single' next_post.id %}"><img class="img-fluid" width="100px" height="100px" src="{{ next_post.image.url }}" alt=""></a>
										    {% endif %}
                                        </div>										
									</div>									
								</div>
	</div>

	<div class="col-lg-12 mb-5">
		<div class="comment-area card border-0 p-5">
			<h4 class="mb-4">{{ comments|length }} comments</h4>
			<ul class="comment-tree list-unstyled">
                {% for comment in comments %}
				<li class="mb-5">
					<div class="comment-area-box">
						<img alt="" src="{% static "images/blog/test1.jpg" %}" class="img-fluid float-left mr-3 mt-2">

						<h5 class="mb-1">{{ comment.name }}</h5>
						<span>United Kingdom</span>

						<div class="comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right">
							<span class="date-comm">{{ comment.created_date|naturalday }}</span>
						</div>

						<div class="comment-content mt-3">
							<p>{{ comment.message }}</p>
						</div>
					</div>
				</li>
                {% empty %}
                    <p>no comments here be the first one to tell you thoughts</p>
                {% endfor %}
				
			</ul>
		</div>
	</div>

	<div class="col-lg-12">
		<form method="post" action="{% url "blog:single" pid=post.id %}">
			{% csrf_token %}
            <h4 class="mb-4">Write a comment</h4>
			<div class="row">
                <input type="hidden" name="post" value="{{ post.id }}">
                {% if request.user.is_authenticated %}
                <input type="hidden" name="name" value="{{ request.user.first_name }}">
                <input type="hidden" name="email" value="{{ request.user.email }}">
                {% else %}
				<div class="col-md-6">
					<div class="form-group">
						<input class="form-control" type="text" name="name"  placeholder="Name:">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input class="form-control" type="email" name="email"  placeholder="Email:">
					</div>
				</div>
                {% endif %}
            <div class="col-md-6">
             <div class="form-group">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                </div>
                </div>
                <div class="col-md-6">
					<div class="form-group">
                        <textarea class="form-control"  name="message" placeholder="Message:"></textarea>
					</div>
				</div>
			</div>
            <button class="btn btn-main btn-round-full" type="submit" name="submit-contact" id="submit_contact" value="Submit Message">send</button>
		</form>
	</div>
</div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrap">
                    {% include "blog/blog-search.html" %}
                            
                    {% include "blog/blog-writer.html" %}
                            
                    {% recentposts %}
                    
                            
                    {% include "blog/blog-tags.html" %}
                            
                    {% postcategories %}
                </div>
            </div>   
        </div>
    </div>
</section>


</div>
{% endblock content %}