{% load static %}
<div class="sidebar-widget card border-0 mb-3">
		<img src="{% static "images/blog/image_26_12_2023_512.jpg" %}" alt="" class="img-fluid">
		<div class="card-body p-4 text-center">
			<h5 class="mb-0 mt-4">Alireza Konarizade</h5>
			<p>Django programmer</p>
			<p>I am a Python and Django developer.</p>

			<ul class="list-inline author-socials">
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-twitter text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-linkedin-in text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-pinterest text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-behance text-muted"></i></a>
				</li>
			</ul>
		</div>
	</div>